@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

section{
    border-radius: 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-image: url('../../assets/au-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
}
td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
th{
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    background-color: rgb(217, 217, 217);
}
.overflow-y{
    overflow-y: scroll;
}
.results-container{
    height: 90vh;
    overflow-y: scroll;
    background-image: url('../../assets/au-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    
}

footer {
    margin-top: 1rem;
    border-radius: 5px;
    background-color: #FCFCFC;
}

footer > p{
    font-family: "Inria Serif", serif;
    font-weight: bolder;
    text-align: center;
}
