section {
    background-color: #FCFCFC;
    font-family: "Inria Serif", serif;
    font-weight: 400;
    position: relative;
}

.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-block: 2rem;
    padding-block: 3rem;
    border-radius: 15px;
    flex-grow: 0.1;
    flex-wrap: wrap;
}

.delete-btn>img {
    height: 100px;
    width: 100px;
    transition: height 200ms;
    transition: width 200ms;
    cursor: pointer;


}

.delete-btn:hover {
    img {
        height: 90px;
        width: 90px;
        cursor: pointer;

    }

}

.download-btn:hover {
    img {
        height: 90px;
        width: 90px;
        cursor: pointer;

    }

}

.download-btn>img {
    height: 100px;
    width: 100px;
    transition: height 200ms;
    transition: width 200ms;
    cursor: pointer;

}

.downloading {
    width: 50vw;
    background-color: green;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    z-index: 1000;
    left: 25%;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:green;
    animation: fade 2s infinite;
    transition: opacity 1s;
}

.downloading>p {
    font-size: 2.5rem;
    color: white;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0;
}

@keyframes fade {
    0%{
        opacity: 0.25;
    }100%{
        opacity: 1;
    }
}
/* .download-btn{
    cursor: pointer;
    position: absolute;
    top: 4rem;
}

.delete-btn{
    cursor: pointer;
    position: absolute;
    bottom: 4rem;
} */