.student-container>p {
    font-weight: 700;
    font-size: 1.3rem;
}

.student-container {
    margin-top: 1rem;
}

.student-input {
    padding-block: .5rem;
    padding-inline: 1rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}